.list-group-item {
  padding: 5px
}
.search {
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  z-index: 1;
}
.round-searchbox {
  border-radius: 25px;
}
.square-searchbox {
  border-radius: 5px;
}
/* parent searchLinks div */
.searchLinks {
  border-radius: 10px;
  background-color: white;
  position: absolute;
  width: 900px;
  box-shadow: 5px 10px 28px #353446;
}
/* The div that is around the links that turns grey on hover */
.searchLinks div {
  padding: 10px 10px;
}
.searchLinks div:hover {
  background-color: rgb(241, 241, 241);
  cursor: pointer;
}
/* Individual links */
.searchLinks a {
  color: #676572;
  text-decoration: none;
  transition: ease-in;
}

/* Medium screens */
@media screen and (max-width: 1200px) {
  .searchLinks {
    width: 900px;
  }
}
@media screen and (max-width: 1000px) {
  .searchLinks {
    width: 700px;
  }
}
/* Smaller screens */
@media screen and (max-width: 800px) {
  .searchLinks {
    width: 500px;
  }
}
@media screen and (max-width: 600px) {
  .searchLinks {
    width: 300px;
  }
}
@media screen and (max-width: 400px) {
  .searchLinks {
    width: 200px;
  }
}