<!-- Container for search -->
<div class="search">
  <div class="content" role="main">
    <!-- Input for searchbox -->
    <div class="form-group" *ngIf="searchIsInNavbar; else searchNotInNavbar">
      <input type="email" class="form-control round-searchbox" id="search-text" aria-describedby="search-text" [(ngModel)]="searchText"
        placeholder="What are you looking for?" autofocus>
    </div>
    <ng-template #searchNotInNavbar>
      <input type="email" class="form-control square-searchbox" id="search-text" aria-describedby="search-text" [(ngModel)]="searchText"
        placeholder="What are you looking for?" autofocus>
    </ng-template>
    <!-- End input -->
    <!-- List of results -->
    <div class="list-group list-group-flush searchLinks" [hidden]="searchText==''">
      <div class="list-group-item" routerLink="/{{c.substring(c.indexOf('@')+1,c.length)}}" *ngFor="let c of searchString | appFilter: searchText | slice: 0:5; let i=index" appHighlight
        [searchedWord]="searchText" [classToApply]="'font-weight-bold'" [setTitle]="'true'" [hidden]="searchText==''">
          <a (click)="onSelect()" routerLink="/{{c.substring(c.indexOf('@')+1,c.length)}}" class="link">{{c.substring(0,c.indexOf(' -@'))}}</a>
      </div>
    </div>
      <!-- End of results list -->
  </div>
</div>
<!-- End search -->
