<!-- Navbar -->
<app-navbar></app-navbar>
<!-- Page content -->
<div class="pageContent">
  <!-- Heading and description -->
  <h2>Contact</h2>
  <!-- The main place where a person can write a simple message to contact  -->
  <p class="desc">
    Docosummaries is a constantly growing community and knowledge base. 
    We are trying our best to keep adding more content to the site. 
    If you have any feedback, or if you think you could add any suggestions that could help us improve, let us know and we will appreciate it very much and take it into consideration.
  </p>
  <!-- Form for a simple email message -->
  <!-- <form class="form-container">
    <div class="p-1">
      <input type="text" name="first" id="first" placeholder="First name"/>
    </div>
    <div class="p-1">
      <input type="text" name="last" id="last" placeholder="Last name"/>
    </div>
    <div class="p-1">
      <input type="email" name="email" id="email" placeholder="Email address"/>
    </div>
    <div class="p-1">
      <textarea>Any feedback or suggestions?</textarea>
    </div>
    <button (click)="submitFeedback()">Submit Feedback</button>
  </form> -->
  <!-- If the person has any knowledge of any docos and they want to help contribute to the db -->
  <h4>Making a contribution</h4>
  <p class="desc">
    You can let us know if there is something that you are unable to search for (i.e. something you know isn't listed). If you want to make a contribution to the knowledge base, you can send us a message with a link to the documentary and we will be happy to include it into our database.
    If you have a summary about it, that would help us immensely as well :) 
  </p>
  <p class="desc">
    If you don't know many details about the documentary, it's okay, fill in as much as you can and we will try to investigate further information about it before adding it to our database.
  </p>
  <!-- Form for sending details about a specific new doco to add -->
  <p class="desc"> Forms are still in progress. </p>
  <!-- <div class="form-container">
    <form>
      <div class="p-1">
        <input type="text" name="first" id="first" placeholder="First name"/>
      </div>
      <div class="p-1">
        <input type="text" name="last" id="last" placeholder="Last name"/>
      </div>
      <div class="p-1">
        <input type="email" name="email" id="email" placeholder="Email address"/>
      </div>
      <div class="p-1">
        <input type="text" name="docoName" id="docoName" placeholder="Name of docummentary"/>
      </div>
      <div class="p-1">
        <input type="text" name="linkToDoco" id="linkToDoco" placeholder="Link for where to watch the docummentary"/>
      </div>
      <button (click)="submitContribution()">Submit Contribution</button>
    </form>
  </div> -->
</div>

