<nav class="navbar navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <!-- Brand/logo on left side -->
    <a class="navbar-brand" routerLink="/">DocoSummaries</a>
    <!-- Collapsable links  -->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto"></ul>
      <form class="">
        <!-- List of links -->
        <ul class="navbar-nav mr-auto">
          <!-- Home -->
          <li class="nav-item pr-4">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <!-- Categories -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
            <div class="dropdown-menu" aria-labelledby="dropdown07">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <!-- About -->
          <li class="nav-item pr-4">
            <a class="nav-link" routerLink="about">About</a>
          </li>
          <!-- Contact -->
          <li class="nav-item pr-4">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
        <!-- End list of links -->
      </form>
    </div>
    <!-- End collapsable links -->
  </div>
  <!-- End container -->
</nav>