<nav class="navbar navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <!-- Brand/logo on left side -->
    <a class="navbar-brand" routerLink="/">DocoSummaries</a>
    <!-- Collapsable links  -->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto"></ul>
      <form class="">
        <!-- List of links -->
        <ul class="navbar-nav mr-auto">
          <!-- Home -->
          <li class="nav-item pr-4">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <!-- Categories -->
          <li class="nav-item dropdown pr-4">
            <a class="nav-link dropdown-toggle" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
            <div class="dropdown-menu" aria-labelledby="dropdown07">
              <!-- Show link for each category -->
              <div *ngFor="let category of categoryList | async"  role="listitem">
                <a class="dropdown-item" href="/{{category.link}}">{{category.name}}</a>
              </div>
            </div>
          </li>
          <!-- About -->
          <li class="nav-item pr-4">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <!-- Contact -->
          <li class="nav-item pr-4">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
        </ul>
        <!-- End list of links -->
      </form>
    </div>
    <!-- End collapsable links -->
  </div>
  <!-- End container -->
</nav>