<!-- Navbar -->
<app-navbar></app-navbar>
<!-- Page content -->
<div class="pageContent">
  <!-- Breadcrumbs -->
  <span class="breadcrumbs">
    <a routerLink="/">All Categories</a> >> 
    <a routerLink="/{{currentCategory.link}}">{{currentCategory.name}}</a> >> 
    {{currentDoco.name}}
  </span>
  <!-- Print the info of the selected documentary -->
  <h2>{{currentDoco.name}}</h2>
  <br>
  <div class="whiteBox">
    <!-- Description -->
    <p><b>Description:</b> {{currentDoco.description}}</p>
    <!-- Producer -->
    <div *ngIf="currentDoco.producer.length > 1" role="listitem" class="d-inline">
      <p><b>Producer:</b> {{currentDoco.producer}}</p>
    </div>
    <!-- Studio -->
    <div *ngIf="currentDoco.studio.length > 1" role="listitem" class="d-inline">
      <p><b>Studio:</b> {{currentDoco.studio}}</p>
    </div>
    <!-- Resources and links -->
    <p><b>Find on Youtube: </b> <a href="{{currentDoco.linkToDoco}}">{{currentDoco.linkToDoco}}</a></p> 
    <p><b>Other Resources: </b> <a href="{{currentDoco.otherResources}}"> {{currentDoco.otherResources}}</a></p>
    <!-- All tags -->
    <div class="tagslist">
      <div *ngFor="let tag of relatedTags" role="listitem" class="d-inline">
        <a routerLink="{{'/'+tag.link}}" >
          <span class="badge badge-secondary mb-3 mt-3 tag">{{'#'+tag.name}}</span>
        </a>
      </div>
    </div>
    <br>
    <!-- Summary -->
    <h3>Summary</h3>
    <div *ngFor="let para of currentDoco.content" role="listitem" class="d-inline">
      <p>{{para}}</p>
    </div>
    <!-- <div markdown [src]="post"></div> -->
  </div>
</div>
