.categoryHeading {
  border-bottom: 5px solid rgb(97, 134, 172);
  text-decoration: none;
  color: #9c9c9c;
  transition: 0.3s;
  line-height: 1.6
}
.categoryHeading:hover {
  border-bottom: 5px solid rgb(160, 188, 216);
  text-decoration: none;
  color: #cccccc;
  transition: 0.3s
}
.desc {
  padding-top: 10px;
}
.taglink {
  padding-right: 20px;
}
.tag {
  margin-right: 10px;
  background-color:rgb(173, 173, 173);
}
.tag:hover {
  background-color: #cccccc;
  transition: 0.3s
}