<!-- Navbar -->
<app-navbar></app-navbar>
<!-- Page content -->
<div class="pageContent">
  <!-- Heading and description -->
  <h2>About Docosummaries</h2>
  <p class="desc">Docosummaries is a place where you can: </p>
  <ul class="desc">
    <li>Learn about new documentaries</li>
    <li>Read blurbs and plot summaries of documentaries</li>
    <li>Find links where you could watch the documentaries online</li>
  </ul>
  <br>
  <!-- Image -->
  <img src="../../../assets/images/cabin.jpg" width="100%" />
  <br>
  <br>
  <!-- Team members -->
  <p class="desc">About page still in progress</p>
  <!-- <h3>The Team</h3>
  <h4>Team Member 1 (photo)</h4>
  <p>Some description</p>
  <h4>Team Member 2 (photo)</h4>
  <p>Some description</p> -->
</div>

