<div class="box">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light box">
    <!-- Collapsable button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <!-- Brand/logo on left side -->
      <a class="navbar-brand" routerLink="/"><strong>DOCO SUMMARIES</strong></a>
      <div class="navbar-search">
        <app-search></app-search>
      </div>
      <!-- Collapsable links  -->
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
      <form class="form-inline my-2 my-lg-0">
        <!-- List of links -->
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <!-- Home -->
          <li class="nav-item pr-4">
            <a class="nav-link" routerLink="/">HOME</a>
          </li>
          <!-- Categories -->
          <li class="nav-item dropdown pr-4">
            <a class="nav-link dropdown-toggle" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CATEGORIES</a>
            <div class="dropdown-menu" aria-labelledby="dropdown07">
              <!-- Show link for each category -->
              <div *ngFor="let category of categoryList | async"  role="listitem">
                <a class="dropdown-item" routerLink="/{{category.link}}">{{category.name}}</a>
              </div>
            </div>
          </li>
          <!-- About -->
          <li class="nav-item pr-4">
            <a class="nav-link" routerLink="/about">ABOUT</a>
          </li>
          <!-- Contact -->
          <li class="nav-item pr-4">
            <a class="nav-link" routerLink="/contact">CONTACT</a>
          </li>
        </ul>
        <!-- End list of links -->
      </form>
    </div>
    <!-- End collapsable links -->
  </nav>
</div>