<div class="pageContent">
  <!-- Breadcrumbs -->
  <span class="breadcrumbs">
    <a routerLink="/">All Categories</a> >> {{currentCategory.name}}
  </span>
  <!-- Heading and description -->
  <h2>{{currentCategory.name}}</h2>
  <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <!-- Show a list of tags under that category -->
  <div class="margin-b">
    <div *ngFor="let tag of tagsInCategory" role="listitem" class="d-inline">
      <a routerLink="{{'/'+tag.link}}" >
        <span class="badge badge-secondary mb-3 mt-3 tag">{{'#'+tag.name}}</span>
      </a>
    </div>
  </div>
  <!-- Show documentaries under that category -->
  <div *ngFor="let doco of documentariesList"  role="listitem">
    <div class="whiteBox"> 
      <!-- Display their details -->
      <h4><strong> {{doco.name}} </strong></h4>
      <p>{{doco.description}}</p>
      <p>{{doco.studio}}</p>
      <div *ngFor="let tag of doco.tagObj" role="listitem" class="d-inline">
        <a routerLink="{{'/'+tag.link}}" >
          <span class="badge badge-secondary mb-3 mt-3 tag">{{'#'+tag.name}}</span>
        </a>
      </div>
      <p><a routerLink="{{doco.link}}"> READ MORE >></a></p>
      <!-- End of details -->
    </div>
  </div>
</div>