<!-- Navbar -->
<app-navbar></app-navbar>
<!-- Jumbotron at the top with the searchbar -->
<div class="jumbotron">
  <div class="jumbo">
    <h1>Doco Summaries</h1>
    <p>
      A place where you can learn about new documentaries, watch documentaries for free or read summaries from hundreds of documentaries.
      Search for quick summaries or videos from different categories!
    </p>
    <!-- Search bar -->
    <app-search></app-search>
    <!-- List of tags under search bar -->
    <div class="tagslist">
      <span *ngFor="let tag of tagsList | slice: 0:8; let i=index" role="listitem" class="d-inline" >
        <a routerLink="{{'/'+tag.link}}" >
          <span class="badge badge-secondary mb-3 mt-3 tag">{{'#'+tag.name}}</span>
        </a>
      </span>
    </div>
    <br>
    <br>
    <br>
    <p class="moreInfo">
      Docosummaries is a constantly growing community and knowledge base. We are trying our best to keep adding more content to the site. Visit our <a routerLink="/contact">Contact</a> page to learn more.
    </p>
  </div>
</div>
<div class="pageContent">
  <!-- Loop through every category -->
  <div *ngFor="let category of categoryList"  role="listitem">
    <div class="whiteBox">
      <!-- Category Heading -->
      <h3><a class="majorHeading" routerLink="{{category.link}}">{{category.name}}</a></h3>
      <!-- Category Description -->
      <p class="desc">{{category.description}}</p>
      <!-- Display all related tags underneath the category -->
      <div *ngFor="let tag of tagsList"  role="listitem" class="d-inline">
        <a *ngIf="tag.category===category.id" routerLink="{{tag.link}}" >
          <span class="badge badge-secondary mb-3 mt-3 tag" style="font-size: 16px">#{{tag.name}}</span>
        </a>
      </div>
      <!-- End of tags list -->
    </div>
  </div>
  <!-- End of Category loop -->
</div>

