.categoryHeading {
  border-bottom: 5px solid rgb(97, 134, 172);
  text-decoration: none;
  color: #9c9c9c;
  transition: 0.3s;
  line-height: 1.6
}
.categoryHeading:hover {
  border-bottom: 5px solid rgb(160, 188, 216);
  color: #cccccc;
}
.desc {
  padding-top: 10px;
}
.tag:hover {
  background-color: #9c9c9c;
  transition: 0.3s
}