/* Large Home Jumbotron with search bar */
::ng-deep .jumbotron {
  background-color: #0f0e17;
  color: rgb(235, 233, 233);
  border-radius: 0px;
}
::ng-deep .jumbotron .tag {
  background-color: #ff9c2a;
  padding: 20px
}
::ng-deep .jumbotron .tag:hover {
  background-color: #ffc079;
}
.jumbo {
  /* padding: 150px 300px; */
  padding: 150px 300px 50px 300px;
}
@media screen and (max-width: 1200px) {
  /* Medium and small screens */
  .jumbo {
    padding: 50px 10px; 
  }
}

/* For large headings eg each category or Doco  */
.majorHeading {
  border-bottom: 5px solid #ffb055;
  text-decoration: none;
  color: #15141b;
  transition: 0.3s;
  line-height: 1.6
}
.majorHeading:hover {
  border-bottom: 5px solid #ffd6a7;
  color: #676572;
}

/* Tag font override */
.tag {
  font-size: 16px;
}

/* Override whole page styling */
/* Whole page */
.pageContent {
  padding: 20px 300px; 
}
@media screen and (max-width: 1200px) {
  /* Medium Screens */
  .pageContent {
    padding: 20px 100px; 
  }
}
@media screen and (max-width: 800px) {
  /* Small screens */
  .pageContent {
    padding: 20px 20px; 
  }
}

/* More info p tag redirecting customers to contact */
.moreInfo {
  color:rgb(168, 168, 168); 
  font-size: smaller;
}
.moreInfo a {
  text-decoration: none;
  color: #ffd6a7;
}
.moreInfo a:hover {
  text-decoration: none;
  color: #ffb055;
}


