<div class="pageContent">
  <!-- Breadcrumbs -->
  <span class="breadcrumbs">
    <a routerLink="/">All Categories</a> >> 
    <a routerLink="/{{currentCategory.link}}">{{currentCategory.name}}</a> >> 
    {{currentTag.name}}
  </span>
  <!-- Heading and description -->
  <h2>{{currentTag.name}} Documentaries</h2>
  <!-- For all documentaries under this tag -->
  <div *ngFor="let doco of documentariesList"  role="listitem">
    <div class="whiteBox"> 
      <!-- Display their details -->
      <h4><strong>{{doco.name}}</strong></h4>
      <p>{{doco.description}}</p>
      <p>{{doco.studio}}</p>
      <div *ngFor="let tag of doco.tagObj" role="listitem" class="d-inline">
        <a routerLink="{{'/'+tag.link}}" >
          <span class="badge badge-secondary mb-3 mt-3 tag">{{'#'+tag.name}}</span>
        </a>
      </div>
      <!-- Read more link -->
      <div>
        <a routerLink="{{doco.link}}" >
          <span class="badge badge-secondary mb-3 mt-3 readMore">READ MORE >></span>
        </a>
      </div>
      <!-- End of details -->
    </div>
  </div>
</div>