/* Whole page */
.pageContent {
  padding: 200px 600px; 
  background-color:#0f0e17
}
@media screen and (max-width: 2000px) {
  /* Medium Screens */
  .pageContent {
    padding: 150px 300px; 
  }
}
@media screen and (max-width: 1200px) {
  /* Medium and small screens */
  .pageContent {
    padding: 150px 100px;
  }
}
@media screen and (max-width: 800px) {
  /* Small screens */
  .pageContent {
    padding: 100px 20px; 
  }
}

/* Overall, or common page content */
h2 {
  padding-top: 20px;
  padding-bottom: 10px;
  /* Light Mode */
  /* color:rgb(248, 248, 248);  */
  /* Dark Mode */
  color:rgb(226, 226, 226); 
}
h4 {
  color: rgb(126, 126, 126);
}
.margin-b-large {
  margin-bottom: 40px;
}

/* The white box that displays for each documentary */
.whiteBox {
  /* Light Mode */
  /* background-color:rgb(248, 248, 248);  */
  /* Dark Mode */
  background-color:rgb(235, 235, 235); 
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
  border: 1px solid rgb(226, 226, 226);
}

/* Description at the top of a category or tag page  */
.desc {
  padding-top: 10px;
  color: rgb(216, 216, 216); 
}

.whiteBox .desc {
  padding-top: 10px;
  color: #0f0e17
}

/* Tags */
.tag {
  margin-right: 10px;
  font-size: 16px;
}
.tag:hover {
  background-color: #ffb055;
  transition: 0.3s
}

/* Breadcrumbs */
.breadcrumbs {
  /* Light Mode */
  /* color: #272727; */
  /* Darl Mode */
  color:rgb(216, 216, 216); 
  line-height: 2;
}
.breadcrumbs a {
  /* Light Mode */
  /* color: #272727; */
  /* Darl Mode */
  color:rgb(216, 216, 216); 
  text-decoration: none;
  transition: 0.3s;
  border-bottom: 3px solid #ffb055;
  line-height: 1.6;
  padding-bottom: 5px
}
.breadcrumbs a:hover {
  color: #808080;
  border-bottom: 3px solid #ffc079;
  text-decoration: none;
  transition: 0.3s;
}