/* Whole page */
.pageContent {
  padding: 100px 300px; 
}
@media screen and (max-width: 1200px) {
  /* Medium Screens */
  .pageContent {
    padding: 100px 100px; 
  }
}
@media screen and (max-width: 800px) {
  /* Small screens */
  .pageContent {
    padding: 100px 20px; 
  }
}

/* Overall, or common page content */
h2 {
  padding-top: 20px;
  padding-bottom: 10px;
}
h4 {
  color: rgb(126, 126, 126);
}
.margin-b-large {
  margin-bottom: 40px;
}

/* The white box that displays for each documentary */
.whiteBox {
  background-color:rgb(248, 248, 248);
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
  border: 1px solid rgb(226, 226, 226);
}

/* Description at the top of a category or tag page  */
.desc {
  padding-top: 10px;
}

/* Tags */
.tag {
  margin-right: 10px;
  font-size: 16px;
}
.tag:hover {
  background-color: #ffb055;
  transition: 0.3s
}

/* Breadcrumbs */
.breadcrumbs {
  color: #272727;
  line-height: 2;
}
.breadcrumbs a {
  color: #272727;
  text-decoration: none;
  transition: 0.3s;
  border-bottom: 3px solid #ffb055;
  line-height: 1.6;
  padding-bottom: 5px
}
.breadcrumbs a:hover {
  color: #808080;
  border-bottom: 3px solid #ffc079;
  text-decoration: none;
  transition: 0.3s;
}