/* Border around each search item */
.list-group-item {
  padding: 5px
}
.search {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(236, 236, 236);
  position: relative;
  z-index: 1;
}
.searchLinks {
  border-radius: 10px;
  background-color: white;
  position: absolute;
  padding: 10px 10px;
  width: 900px;
  box-shadow: 5px 10px 28px #888888;
}


/* Medium screens */
@media screen and (max-width: 1200px) {
  .searchLinks {
    width: 900px;
  }
}
@media screen and (max-width: 1000px) {
  .searchLinks {
    width: 700px;
  }
}
/* Smaller screens */
@media screen and (max-width: 800px) {
  .searchLinks {
    width: 500px;
  }
}
@media screen and (max-width: 600px) {
  .searchLinks {
    width: 300px;
  }
}
@media screen and (max-width: 400px) {
  .searchLinks {
    width: 200px;
  }
}