<p>search works!</p>

<div class="content" role="main">
  <div class="card">
    <div class="form-group">
      <label for="search-text">Search Text</label>
      <input type="email" class="form-control" id="search-text" aria-describedby="search-text" [(ngModel)]="searchText"
        placeholder="Enter text to search" autofocus>
    </div>
    <div class="list-group list-group-flush" >
      <div class="list-group-item" *ngFor="let c of searchString | appFilter: searchText | slice: 0:20; let i=index" appHighlight
        [searchedWord]="searchText" [classToApply]="'font-weight-bold'" [setTitle]="'true'" [hidden]="searchText==''">
          <a routerLink="{{c.substring(c.indexOf('@')+1,c.length)}}">{{c.substring(0,c.indexOf(' - @'))}}</a>
      </div>
    </div>
  </div>
</div>