<h3> List of {{currentTag}} only: </h3>
<div *ngFor="let doco of documentariesList | async"  role="listitem">
  <div *ngFor="let tag of doco.tags"  role="listitem">
    <div *ngIf="tag===currentTagId"> 
      <a routerLink="{{doco.link}}"> {{doco.name}} </a>
      <p>{{doco.description}}</p>
      <p>{{doco.studio}}</p>
      <p>{{doco.tags}}</p>
    </div>
  </div>
</div>

<!-- <h3>All documentaries:</h3>
<ul>
  <li *ngFor="let doco of documentariesList | async"  role="listitem">
    {{doco.name}}
    {{doco.author}}
    {{doco.tags}}
    <ul>
      <li *ngFor="let tag of doco.tags"  role="listitem">
        {{tag}}
      </li>
    </ul>
  </li>
</ul> -->
