<h3> List of {{currentTag}} only: </h3>
<div *ngFor="let doco of documentariesList | async"  role="listitem">
  <div *ngFor="let tag of doco.tags"  role="listitem">
    <p *ngIf="tag===currentTagId"> 
      {{doco.name}}
      <!-- {{doco.author}} -->
      <!-- {{tag}} -->
    </p>
  </div>
</div>

<hr>

<br>
<br>
<a routerLink="/categories/article/doco1">Example</a>
<br>
<br>
<a routerLink="/categories/article/doco2">Example</a>
<br>
<br>
<a routerLink="/categories/article/doco3">Example</a>
<br>
<br>

<h3>All documentaries:</h3>
<ul>
  <li *ngFor="let doco of documentariesList | async"  role="listitem">
    {{doco.name}}
    {{doco.author}}
    {{doco.tags}}
    <ul>
      <li *ngFor="let tag of doco.tags"  role="listitem">
        {{tag}}
      </li>
    </ul>
  </li>
</ul>
